---
import { TypeById } from "src/utils/data-read";
import { capitalizeFirstLetter } from "src/utils/string";
import typeColorLightJson from "src/utils/type-color-light.json";
import typeColorJson from "src/utils/type-color.json";

const { type_id } = Astro.props;
---

<a
  class="block max-w-20 flex-auto text-center  no-underline  rounded-md text-xs p-1 font-medium ring-1 ring-inset ring-blue-500/50"
  href="#"
  style=`background-color: ${typeColorLightJson[TypeById[type_id].identifier]};
    color: ${typeColorJson[TypeById[type_id].identifier]};
    --tw-ring-color: ${typeColorJson[TypeById[type_id].identifier]}1A;`
>
  {capitalizeFirstLetter(TypeById[type_id].identifier)}
</a>
